*{
    margin:0px;
    padding: 0px;
}


body{
background-image: url(https://image.freepik.com/vector-gratis/fondo-azul-brillante-neon-lineas-placa-circuito_107146-73.jpg);
}

#titulo{
    margin-bottom: 10px;
}
#header h1{
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a{  
    text-decoration: none;
}
#contenedor{
    width:1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px; 
    border-radius: 20px;
    overflow: hidden;
}


header{
     text-align: center;
    font-size: 30px;
    color: #8D969E  ;
    font-family: "Arial";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #5A636A;
    transition:  all 300ms;
    
}


header h1:hover{
    text-shadow:  0px 2px 1px #688CA6 , 0px 0px 4px #688CA6 ;
}

ul,ol{
    list-style:none;
}

/*Botones de Navegacion*/
#nav {
     width: 90%;
     margin-top: 10px;
    margin-left: 90px;
    border-radius: 10px;
    height: 40px;
    background-color: #333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 4px #3366FF;
}

#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1090px;
}

#nav >ul > li{
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: 400ms;
}

#nav > ul >li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav > ul > li > a:first-child{
    border-left: 1px solid white;
}

#nav > ul >li:hover{
    background-color: blue;
    box-shadow: 0px 0px 10px cyan;
}

/*Menu desplegable*/
 #nav > ul > li > ul{
     display: none;
     position: absolute;
     width: 160px;
     box-shadow: 0px 2px 2px blue;
 }

 #nav > ul > li:hover > ul{
     display: block;
 }

#nav > ul > li:hover > ul > li{
    background-color: #333333;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 15px;
    transition: all 300ms;
}

#nav > ul > li:hover > ul > li > a{
    color: white;
}

#nav > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 6px greenyellow inset;
    background-color: blue;
}
.contenido{
    width: 69%;
    height: 500px;
    float:left;
    background: transparent;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.contenido ul{
    padding: 0px;
    margin: 0px;
}

.contenido ul li{
    list-style: none;
    float: left;
    width: 210px;
    height: 205px;
   background: black;
    margin: 30px 30px 0px 120px;
    box-sizing: border-box;
    border: 2px solid white;
    }

.contenido ul li:hover{
    opacity: 0.9;
}

.contenido ul li .title:hover{
    background: black;
    color: white;

}


  .contenido ul li .title{
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: white;
        text-align: center;

    }
    .contenido ul li .img{
        width: 100%px;
        height: 151px;
        line-height: 50px;
        text-align: center;
 }
    


#contenido h2{
    font-size: 40px;
    text-align: center;
    line-height: 500px;

}

aside{
    width: 30%;
    height: 330px;
   background: transparent;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 35px;
    float: right;
    text-align: justify;
}

aside h2{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font color : blue;
}
aside h3{
     font-size: 20px;
    text-align: justify;
    line-height: 21px;
    margin-left: 10px;
    margin-right: 10px;
}

aside h4{
     font-size: 20px;
    text-align: justify;
    line-height: 21px;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #878787;
    font-size: 15px;
    box-shadow: 0px 0px 2px #8D969E ;
    border-radius: 20px;
    clear: both;
    background: transparent;
}

footer h2{
   
    font-size: 20px;
    text-align: center; 
    padding: 5px;
    font-style: Arial;
}
